<!-- <app-counter></app-counter> -->
<!-- <input [(ngModel)]="prime"/>
 <ul *ngIf="isPrime()">
  <li *ngFor="let fruit of fruits; let isEven = even"  [ngClass]="{'even-class': isEven}">{{fruit.name}} - Price: {{fruit.price}}</li>
 </ul>  

 <p>Date: {{date | date}}</p>
 <p>Date: {{date | date :'short'}}</p>
 <p>Date: {{date | date : 'medium'}}</p>
 <p>Date: {{date | date : 'long'}}</p>
 <p>Date: {{date | date : 'timezone'}}</p> -->

<!-- ! Data transfers using Input and Output Decorators -->
 <!-- <div>
    <app-form (carDetailsEmitter)="onCarDetailsEmitted($event)"></app-form>
    <app-list [cars]="cars"></app-list>
 </div> -->
<!-- ! Data transfers using Services-->
 <div>
    <app-formtwo></app-formtwo>
    <app-listtwo></app-listtwo>
 </div>